@model game_journal.Models.View_Models.GameViewModel

<form asp-controller="Games" asp-action="SaveGame" name="savedGame" method="post">
    <div>
        <h4>@Model.Game.Name</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.Summary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Game.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Game.ReleaseDate)
            </dd>
            <dt class="col-sm-2">
                Genres
            </dt>
            <dd class="col-sm-10">
                @foreach (var genre in Model.Genres)
                {
                    @(genre.Name)
                }

            </dd>
            <dt class="col-sm-2">
                Platforms
            </dt>
            <dd class="col-sm-10">
                @foreach (var platform in Model.Platforms)
                {
                    @(platform.Name)
                }
            </dd>
        </dl>
    </div>
    <div>
        <input type="submit" class="btn btn-primary text-white" value="Save Game" /> 
        <a asp-action="Index">Back to List</a>
    </div>
</form>
