@model game_journal.Models.Game

<form asp-controller="Games" asp-action="SaveGame" method="post">

    <div>
        <h4>Game</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <input type="hidden" asp-for="@Model.Name" />
            <input type="hidden" asp-for="@Model.first_release_date" />
            <input type="hidden" asp-for="@Model._releaseDate" />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <input type="hidden" asp-for="@Model.ReleaseDate" />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Summary)
            </dd>
            <input type="hidden" asp-for="@Model.Summary" />
        </dl>
    </div>
    <div>
        <input type="submit" class="btn btn-primary text-white" value="Save Game" /> |
        <a asp-action="Index">Back to List</a>
    </div>
</form>
