@model game_journal.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<form asp-controller="Games" asp-action="SaveGame" method="post">
    <div>
        <h4>Game</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <input type="hidden" asp-for="@Model.Name" />
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <input type="hidden" asp-for="@Model.ReleaseDate" />
        </dl>
    </div>
    <input type="submit" class="btn btn-primary text-white" value="Save Game" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
