@model game_journal.Models.GamePlatform

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GamePlatform</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatformName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatformName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
